body {
    width: 100%;
    margin: auto;
}

a:link {
    color: #EDE7E3;
    text-decoration: none;
}
  
  /* visited link */
a:visited {
    color: #FFA62B;
    text-decoration: none;
}
  
  /* mouse over link */
a:hover {
    color: #82C0CC;
    text-decoration: none;
}

nav{
    font-family: "Nanum Brush Script", cursive;
    font-weight: 400;
    font-size: 21pt;
}

header {
    background-color: #FFA62B;
    padding: 10px;
}

#title {
    color: black;
    font-family: "Nanum Brush Script", cursive;
    font-weight: 800;
    font-size: 80pt;
    text-align: center;
}

#grad1 {
    height: fit-content;
    width: 59%;
    background-image: linear-gradient(to bottom, #EDE7E3, #16697A );
    padding: 40px;
    float: left;
}

#image {
    float: right;
    width: 685px;
}
